<main>
    <h2>Register</h2>
    <form type="submit" class="container">
        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username"/>
        </div>
        <div class="input">   
            <label for="email">Email</label>
            <input type="email" id="email"/>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="text" id="password"/>
        </div>
        <div class="input">
            <label for="repeatPass">Repeat Password</label>
            <input type="text" id="repeatPass"/>
        </div>
        <div class="gender input">
            <label>
                <input type="radio" name="gender" value="male"/>
                Male
            </label>
            <label>
                <input type="radio" name="gender" value="female"/>
                Female
            </label>
        </div>
        <div class="submitBtn">
            <button>Sign up</button>
        </div>
    </form>
</main>
