

h2 {
    text-align: center;
}

label {
    font-weight: 500;
}

input[type="text"], 
input[type="email"] {
    display: block;
    border-radius: 10px;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
    /* min-width: 720px; */
    width: 45rem;
    height: 1.5rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.input {
    width: 100%;
    border-radius: 100px;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr;
    /* grid-template-columns: 1/5fr; */
}

.gender {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    margin: 0.5rem 1rem auto; 
}

.submitBtn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

button {
    background-color: rgba(63, 156, 237, 0.863);
    padding: 0.4rem 6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(92, 176, 249, 0.863);
    color: white;
}