<main>
    <h2>Register</h2>
    <form (change)="log(registerGroup)" type="submit" class="container" [formGroup]="registerGroup" #f="ngForm"> <!╌ add formGroup ╌>  
        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username"/>
            <small *ngIf="!registerGroup.get('username')?.valid && registerGroup.get('username')?.touched">Username must be at least 4 symbols!</small>
        </div>
        <div class="input">   
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email"/>
            <small *ngIf="!registerGroup.get('email')?.valid && registerGroup.get('email')?.touched">Must be a valid email!</small>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="text" id="password" formControlName="password"/>
            <small *ngIf="!registerGroup.get('password')?.valid && registerGroup.get('password')?.touched">
                Password must be at least 4 symbols!
            </small>
        </div>
        <div class="input">
            <label for="repeatPass">Repeat Password</label>
            <input type="text" id="repeatPass" formControlName="repeatPass"/>
            <small *ngIf="registerGroup.get('repeatPass').status === 'INVALID' && registerGroup.get('repeatPass').touched">
                Passwords don't match!
            </small>
        </div>
        <div class="gender input">
            <label>
                <input type="radio" name="gender" value="male" [checked]="true"/>
                Male
            </label>
            <label>
                <input type="radio" name="gender" value="female"/>
                Female
            </label>
        </div>
        <div class="submitBtn">
            <!-- <button [disabled]="!f.valid">Sign up</button> -->
            <button [disabled]="registerGroup.status === 'INVALID'">Sign up</button>
        </div>
    </form>
    <ng-container >
        <div class="notification" *ngIf="false">
            Some alert message Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Ipsa recusandae deserunt dolor. Obcaecati consectetur aperiam, sint at quasi eveniet quidem libero minima, ut, optio nesciunt.
              Distinctio sequi sunt possimus incidunt.
        </div>
    </ng-container>
</main>
