<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Make: Mercedes</mat-card-title>
        <mat-card-subtitle>Model: CLK270 cdi</mat-card-subtitle>
        <mat-card-subtitle>Owner: Igor</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
