.single-card {
    max-width: 50rem;
    margin-bottom: 8px;
    background-color: beige;
  }

.mat-card-actions :first-child {
    background-color: greenyellow;
}

.mat-card-actions {
    margin-left: 0;
}

.owner {
    font-style: italic;
}

mat-card-title {
    margin-right: 5rem;
}