.single-card {
    max-width: 700px;
    height: 70vh;
    
}

.container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

mat-card { 
    width: 60%;
 }

.mat-card-header {
    flex: 1
}

mat-card-content {
    overflow: scroll;
}

.mat-card-image {
    width: 20rem;
    height: 10rem;
    padding-right: 1rem;
    padding-top: 1rem;
    flex: 1 
}

.mat-card-actions {
    margin-bottom: 2px;
}