.single-card {
    max-width: 700px;
    height: 57vh;
    background-color: beige;
    box-shadow: 10px 5px 5px rgb(163, 163, 163);
}

h3 {
    font-weight: bold;
    padding-top: 1rem;
    text-align: center;
}

.container {
    background-color: bisque;
    height: 85vh;
  
}

mat-card { 
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
 }

mat-card-content {
    overflow: scroll;
}

.mat-card-image {
    float: right;
    width: 15rem;
    height: 12rem;
    padding-right: 1rem;
    padding-top: 1rem;
    /* flex: 1  */
}

/* mat-card-actions {
    padding-bottom: 1rem;
} */

.contentAndButtons {
    height: 70%;
   float: none;
   display: flex;
   flex-direction: column;
}