<div class="container">
  <h3>Car Details</h3>
  <mat-card class="single-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{car?.make}} {{car?.model}}</mat-card-title>
      <mat-card-subtitle>User: {{car?.owner}}</mat-card-subtitle>
    </mat-card-header>
    <div class="content">
      <img mat-card-image src={{car?.picURL}} alt="Photo of a Shiba Inu">
      <mat-card-content>
      <p>
        {{car?.description}}
      </p>
    </mat-card-content>
  </div>
    <mat-card-actions>
      <button color="primary" *ngIf="isOwner()"  mat-button (click)="openDialog()">EDIT</button>
      <button color="warn" *ngIf="currentUser?.role === 'ADMIN' || isOwner()" mat-button (click)="onDelete()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
