footer {
    position: fixed;
    width: 100vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey ;
}

.span1 {
    color: orange;
}

.span2 {
    color: orangered;
    font-style: italic;
}