main {
    width: 100%;
    overflow: scroll;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    color: blue;
}