<nav>
    <header> 
        <div class= "homeBtnContainer">
            <app-nav-buttons routerLink="/" name="{{homeButton}}"></app-nav-buttons>
            <button [disabled]="!(currentUser$ | async)?.username" mat-button (click)="openDialog()">Create card</button>
            <button *ngIf="(currentUser$ | async)?.role === 'ADMIN'" mat-button [routerLink]="['admin']">Admin</button>
        </div>
        <div *ngIf="!!(currentUser$ | async)?.username" class="homeBtnContainer">
            Welcome: <span> &nbsp; {{(currentUser$ | async)?.username}}</span>
        </div>
        <ul class="authButtons">
            <ng-container *ngIf="!!!(currentUser$ | async)?.username">
                <app-nav-buttons routerLink="register" name="{{registerButton}}"></app-nav-buttons>
                <app-nav-buttons routerLink="login" name="{{loginButton}}"></app-nav-buttons>
            </ng-container>
            <app-nav-buttons *ngIf="!!(currentUser$ | async)?.username" (click)="logout()"  name="{{logoutButton}}"></app-nav-buttons>
        </ul>
    </header>
</nav>
