nav {
    background-color: rgb(193, 193, 193);
}


header {
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
    border: 1px solid;
}

.homeBtnContainer {
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.authButtons {
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

app-nav-buttons {
    margin-right: 1rem;
}

button {
    color: rgba(233, 6, 38, 0.77);
}