@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

app-root {
    display: block;
    width: inherit;
    height: inherit;
}

li, a {
    list-style: none;
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

small {
    color: red;
    font-weight: bold;
    font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
