main {
    /* display: flex;
    flex-direction: column;
    margin: 0 15%;
    height: 82%;
    background-color: blanchedalmond; */

    height: 85%;
    background-color: blanchedalmond;
    width: 100vw;
}

.container {
    padding-top: 3rem;
    margin: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

article {
    font-size: large;
}

.buttons {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

button {
    font-size: 1rem;
    padding: 0.2rem 2.3rem;
    background-color: rgba(63, 156, 237, 0.863)
}