<main>
         <h1>Welcome to Auto-Book</h1>
    <article>
        <p>
            This is a place where everyone can make profile of his car,
            share photos, feedbacks, share what is the fuel consumption, 
            what is the price maintanance of the car and much more.
        </p>
    </article>
    <article>
        If you don't have account Sign up for free, in case you already have one 
        please Sign in .
    </article>
    <div class="buttons">
        <button routerLink="register" mat-button>Sing Up</button>
        |
        <br>
        |
        <button routerLink="login" mat-button>Sing In</button>
    </div>
</main>
